$primary-color: #0068e6;
$secondary-color: #424242;
$accent-color: #82b1ff;
$error-color: #ff5252;
$info-color: #2196f3;
$success-color: #4caf50;
$warning-color: #fb8c00;

$grey-color-1: #e9e9e9;
$grey-color-2: #d7d7d7;
$grey-color-3: #afafaf;
$grey-color-4: #858585;
$grey-color-5: #6d6b6b;

$black-color-1: #000000;

// Custom variables
$custom-border-radius: 20px;
$custom-font-size: 16px;
$custom-sm-border-radius: 7px;
$custom-sm-font-size: 15px;
